version: '3.8'
services:
  web:
    build: .
    ports:
      - '8080:80'
    restart: always
    env_file:
      - .env
    volumes:
      - .:/go/src/github.com/cobyeastwood/coby_web
  client:
    build: ./client
    volumes:
      - ./client:/client
    # ports:
    #   - '3000:3000'
